* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_1356 {
  width: 100%;
  height: 3900px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1357 {
  width: 65%;
  height: 370px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 323px;
  overflow: hidden;
}
.v1_1358 {
  width: 177px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 680px;
  left: 323px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_1359 {
  width: 176px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2100px;
  left: 322px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_1360 {
  width: 1300px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1200px;
  left: 324px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
  border-bottom: solid 1px black;
  height: 50px;
}
.v1_1361 {
  width: 300px;
  color: rgba(159, 157, 157, 1);
  position: absolute;
  top: 688px;
  left: 530px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1_1362 {
  width: 200px;
  color: rgba(159, 157, 157, 1);
  position: absolute;
  top: 2107px;
  left: 528px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_1367 {
  width: 50px;
  height: 50px;
  background: rgba(113, 111, 111, 1);
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 0px;
  border-radius: 50%;
}
.v1_1368 {
  width: 50px;
  height: 50px;
  background: rgba(113, 111, 111, 1);
  opacity: 1;
  position: absolute;
  top: 40%;
  right: 0px;
  border-radius: 50%;
}
/*.v1_1372 {*/
/*  width: 187px;*/
/*  height: 187px;*/
/*  background: rgba(205, 202, 202, 1);*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*  border-radius: 50%;*/
/*  top: 850px;*/
/*  left: 1094px;*/
/*}*/
.best_prev {
  cursor: pointer;
  position: absolute;
  top: 32%;
  width: auto;
  padding: 18px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.best_next {
  cursor: pointer;
  position: absolute;
  top: 32%;
  left: 8%;
  width: auto;
  padding: 18px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.v1_1583 {
  width: 65%;
  height: 370px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 323px;
  overflow: hidden;
}
.v1_1493 {
  width: 1220px;
  height: 50px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 740px;
  left: 330px;
  overflow: hidden;
  border-top: 1px solid black;
  float: left;
}
.v1_1494 {
  width: 100px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 25%;
  font-family: Noto Sans KR;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.v1_1495 {
  width: 100px;
  color: rgba(159, 157, 157, 1);
  position: absolute;
  top: 0px;
  left: 50%;
  font-family: Noto Sans KR;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.v1_1496 {
  width: 100px;
  color: rgba(159, 157, 157, 1);
  position: absolute;
  top: 0px;
  left: 75%;
  font-family: Noto Sans KR;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.v1_1502 {
  width: 1220px;
  height: 50px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2160px;
  left: 330px;
  overflow: hidden;
  border-top: 1px solid black;
}
.v1_1503 {
  width: 100px;
  color: rgba(159, 157, 157, 1);
  position: absolute;
  top: 0px;
  left: 25%;
  font-family: Noto Sans KR;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.v1_1504 {
  width: 100px;
  color: rgba(159, 157, 157, 1);
  position: absolute;
  top: 0px;
  left: 50%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.v1_1505 {
  width: 100px;
  color: rgba(159, 157, 157, 1);
  position: absolute;
  top: 0px;
  left: 75%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.v1_1490 {
  width: 161px;
  height: 456px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 1px;
  overflow: hidden;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-top: solid 2px black;
  border-right: solid 2px black;
}
.sidebar1 {
  width: 94%;
  height: 28%;
  margin: 5px;
}
.sidebar-button {
  left: 19%;
  width: 60%;
  height: 20%;
  top: 6%;
  position: absolute;
  background-color: rgba(196, 196, 196, 1);
  border: none;
  cursor: pointer;
}
.fas fa-truck fa-5x {
  width: 80%;
  height: 50%;
}
.sidebarText1 {
  top: 26%;
  left: 25%;
  position: absolute;
  font-family: 'GongGothicMedium';
  border-bottom: solid 1px black;
}
.sidebar2 {
  width: 94%;
  height: 28%;
  margin: 5px;
}
.sidebar-button2 {
  left: 15%;
  width: 60%;
  height: 20%;
  top: 35%;
  position: absolute;
  background-color: rgba(196, 196, 196, 1);
  border: none;
  cursor: pointer;
}
.fas fa-share-alt fa-5x {
  width: 80%;
  height: 50%;
}
.sidebarText2 {
  top: 55%;
  left: 25%;
  position: absolute;
  font-family: 'GongGothicMedium';
  border-bottom: solid 1px black;
}
.sidebar3 {
  width: 94%;
  height: 28%;
  margin: 5px;
}
.sidebar-button3 {
  left: 15%;
  width: 60%;
  height: 20%;
  top: 65%;
  position: absolute;
  background-color: rgba(196, 196, 196, 1);
  border: none;
  cursor: pointer;
}
.fas fa-file-alt fa-5x {
  width: 80%;
  height: 50%;
}
.sidebarText3 {
  top: 85%;
  left: 28%;
  position: absolute;
  font-family: 'GongGothicMedium';
  border-bottom: solid 1px black;
}
.forTheTop {
  background: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 780px;
  left: 58px;
  overflow: hidden;
}
.forTheTopArrow {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: -7px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 33px;
}
.eventpicture {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes eventpicture {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes eventpicture {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* 배너 이전 다음 버튼 */
.banner_prev,
.banner_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* 배너 오른쪽버튼 오른쪽으로 옮기기 */
.banner_next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* 배너 hover */
.banner_prev:hover,
.banner_next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.v1_1549 {
  width: 344px;
  height: 72px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3750px;
  left: 788px;
  overflow: hidden;
}
.v1_1550 {
  width: 344px;
  height: 72px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(159, 157, 157, 1);
  overflow: hidden;
}
.v1_1551 {
  width: 60px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 24px;
  left: 145px;
  font-family: Noto Sans KR;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.BestItem_div{
  top: 810px;
  left: 324px;
  width: 1250px;
  height: 350px;
  position: absolute;
  overflow: hidden;
}
.BestProduct{
  left: 70px;
  right: 70px;
  height: 350px;
  position: absolute;
}
.NewItem_div {
  top: 1280px;
  left: 324px;
  width: 1322px;
  height: 750px;
  position: absolute;
  overflow: hidden;
}
.AllItems_div {
  top: 2200px;
  left: 324px;
  width: 1322px;
  height: 1480px;
  position: absolute;
  overflow: hidden;
}
body,ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  max-width: 300px;
}
.BestImg{
  text-decoration: none;
  color: inherit;
  max-width: 280px;
}
.con{
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
.cell_01{
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
}
.cell_02{
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
}
.cell_03{
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
}
.cell_04{
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
}
#BestRow::after{
  content: "";
  display: block;
  clear: both;
}
.row::after{
  content: "";
  display: block;
  clear: both;
}
html,body{
  overflow-x: hidden;
}
.list > ul > li{
  width: calc(100% / 5);
  padding: 0 10px;
  background-color: gray;
}
.BestLi_1{
  width: calc(100% / 3.5);
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 23px;
  margin-left: 30px;
}
.BestLi_2{
  width: calc(100% / 3.5);
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 23px;
  margin-left: 30px;
}
.BestLi_3{
  width: calc(100% / 3.5);
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 23px;
  margin-left: 30px;
}
.list > ul{
  margin: 0 -10px;
}
#BestRow{
  margin: 0 -10px;
  position: relative;
}
.product-name{
  text-align: center;
  font-weight: bold;
  font-family: Roboto;
}
.product-name:hover{
  text-decoration: underline;
}
.product-price{
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
}
.product-price::after{
  content: "원";
  font-size: 1rem;
  font-weight: normal;
}
@media (max-width: 800px) {
  .list > ul > li{
    width: calc(100%/5);
  }
}
@media (max-width: 650px) {
  .list > ul > li{
    width: calc(100%/4);
  }
}
@media (max-width: 500px) {
  .list > ul > li{
    width: calc(100%/3);
  }
}
@media (max-width: 400px) {
  .list > ul > li{
    width: calc(100%/2);
  }
}
@media (max-width: 300px) {
  .list > ul > li{
    width: calc(100%/1);
  }
}