* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v1_1584 {
  width: 100%;
  height: 200px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_1585 {
  width: 183px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 74%;
  left: 24%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.v1_1586 {
  width: 100px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 35%;
  left: 24%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.v1_1587 {
  width: 50px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 48%;
  left: 24%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.v1_1588 {
  width: 90px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 61%;
  left: 24%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.v1_1589 {
  width: 90px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 74%;
  left: 15%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  border-right: solid 1px gray;
}

.v1_1590 {
  width: 154px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10%;
  left: 15%;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}

.v1_1591 {
  width: 175px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10%;
  left: 75%;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.v1_1592 {
  width: 90px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 35%;
  left: 15%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  border-right: solid 1px gray;
}

.v1_1593 {
  width: 90px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 48%;
  left: 15%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  border-right: solid 1px gray;
}

.v1_1594 {
  width: 90px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 61%;
  left: 15%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  border-right: solid 1px gray;
}

.v1_1595 {
  width: 330px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 35%;
  left: 75%;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
