* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v1_1583 {
  width: 100%;
  height: 700px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_1597 {
  width: 40%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 50px;
  left: 30%;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}

.v1_1598 {
  width: 40%;
  height: 72px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 30%;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
  font-size: 20px;
}

.v1_1599 {
  width: 40%;
  height: 72px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 30%;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
  font-size: 20px;
}

.v1_1600 {
  width: 40%;
  height: 72px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 30%;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
  font-size: 20px;
}

.myButton {
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: #000000;
  border-radius: 9px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 150px;
  text-decoration: none;
  text-align: center;
  padding: 25px 0;
  width: 40%;
  height: 72px;
  position: absolute;
  top: 500px;
  left: 30%;
}

.myButton:hover {
  background: linear-gradient(to bottom, #000000 5%, #7892c2 100%);
  background-color: #000000;
}

.myButton:active {
  position: absolute;
}

.myButton1 {
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: #000000;
  border-radius: 9px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 150px;
  text-decoration: none;
  text-align: center;
  padding: 25px 0;
  width: 40%;
  height: 72px;
  position: absolute;
  top: 580px;
  left: 30%;
}

.myButton1:hover {
  background: linear-gradient(to bottom, #000000 5%, #7892c2 100%);
  background-color: #000000;
}

.myButton1:active {
  position: absolute;
}
