<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.EventMapper">

    <select id="eventListCount" resultType="Integer">
        select count(*)
        from push_event;
    </select>

    <select id="eventList" resultType="com.green.vo.EventVo">
        select  event_id,
                event_title,
                event_coments,
                use_yn,
                DATE_FORMAT(mod_date, '%Y-%m-%d') mod_date
        from push_event
        order by event_id
            limit #{startIndex}, #{cntPerPage}

    </select>
    <select id="eventOne" parameterType="String" resultType="com.green.vo.EventVo">
        select  event_id,
                event_title,
                event_coments
        from push_event
        where event_id = #{event_id}
    </select>
    <insert id="eventInsert" parameterType="com.green.vo.EventVo">
        insert into push_event
        (
            event_title,
            event_coments,
            mod_date
        )
        values
            (
                #{event_title},
                #{event_coments},
                NOW()
            )
    </insert>
    <update id="eventUpdate" parameterType="com.green.vo.EventVo">
        update push_event set
                              event_title = #{event_title},
                              event_coments = #{event_coments},
                              mod_date = NOW()
        where event_id = #{event_id}
    </update>
    <delete id="eventDelete" parameterType="String">
        delete from push_event
        where event_id = #{event_id}
    </delete>
</mapper>