<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.OrdersMapper">
    <!-- 주문 상품 정보 -->
    <select id="getGoodsInfo" resultType="com.green.vo.OrderPageItemDTO">

        select id, product_name, Product_Price, Product_Discount
        from product where id = #{id}

    </select>
    <select id="getOrderInfo" resultType="com.green.vo.OrderItemDTO">

        select id, Product_Price, Product_Discount
        from product where id = #{id}

    </select>
    <!-- 주문 테이블 등록 -->
    <insert id="enrollOrder">

        insert into product_order(order_id, address, member_id, member_address, orderState, deliveryCost, usePoint)
        values(#{order_id},#{address}, #{member_id}, #{member_address}, '배송준비', #{deliveryCost}, #{usePoint})

    </insert>
    <!-- 주문 아이템 테이블 등록 -->
    <insert id="enrollOrderItem">

        insert into product_orderitem(orderId, Product_Id, Product_Count, Product_Price, Product_Discount, savePoint)
        values(#{orderId}, #{Product_Id}, #{Product_Count}, #{Product_Price}, #{Product_Discount}, #{savePoint})

    </insert>
    <!-- 주문 금액 차감 -->
    <update id="deductMoney">

        update member set money = #{money}, point = #{point} where member_id = #{member_id}

    </update>
    <!-- 주문 재고 차감 -->
    <update id="deductStock">

        update product set Product_Stock = #{Product_Stock} where id = #{id}

    </update>

    <delete id="deleteOrderCart">

        delete from cart where member_id = #{member_id} and id = #{id}

    </delete>

    <!-- 주문취소 -->
    <update id="orderCancel">
        update product_order set orderState = '주문취소' where order_id = #{order_id}
    </update>

    <!-- 주문 상품 정보(주문취소) -->
    <select id="getOrderItemInfo" resultType="com.green.vo.OrderItemDTO">

        select * from product_orderItem
        where orderId = #{orderId}

    </select>

    <!-- 주문 정보(주문 취소) -->
    <select id="getOrder" resultType="com.green.vo.OrderDTO">

        select * from product_order
        where order_id = #{order_id}

    </select>
</mapper>
