<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.SearchMapper">
    <!--검색 조건 -->
    <sql id="Criteria">
        <if test="keyword != null">
            where (product_name like concat ('%', #{keyword}, '%'))
        </if>
    </sql>
    <!-- 상품 검색 -->
    <select id="getProductList" resultType="com.green.vo.ProductVO">
        select a.id, a.product_name, b.cateName, a.product_price, a.product_stock
        from product a left outer join category b on a.cateName=b.cateName
        <include refid="Criteria"></include>
        order by a.id desc
        limit #{skip}, #{amount}
    </select>
    <!--상품 총 개수 -->
    <select id="getTotal" resultType="int">
        select count(*) from product
        <include refid="Criteria"></include>
    </select>
</mapper>
